[Desktop Entry]
Type=Application
Name=Iris
GenericName=Universal Search Overlay & Quick Launcher
Comment=A fast, elegant, keyboard-driven universal search overlay and quick launcher for Omarchy Quattro with Quickshell and Hyprland.
Exec=iris toggle
Icon=iris
Keywords=spotlight;launcher;search;calculator;units;files;agents;ai;convert;
Categories=Utility;System;
StartupNotify=false
Terminal=false
NoDisplay=false
X-Omarchy-Plugin-ID=fickleminded.iris
